/*
Name: Nathan Woodburn 
Date: 23/08/2022
Email: comp1710@nathan.woodburn.id.au
*/

/* CSS for index (Landing Page) */

/* Increase size of intro paragraph */
p.intro {
 font-size: x-large;
}

p.smaller {
    margin-top: 4em;
}