body {
    background-color: black;
    color: white;
    text-align: center;
}
a {
    color: rgb(255, 67, 255);
}
/* This ul style removes the bullets from unordered lists */
ul {
    list-style-type: none;
}
#navbar {
    background-color: orange;
    border-radius: 0.5em;
    margin: 0em 10em 5em 10em;
    font-size: 1.5em;
    text-transform:uppercase;
}
#navbar ul {
    padding: 0.5em 0em;
}
#navbar li {
    display: inline;
    padding: 1.5em;
}
#navbar a { 
    text-decoration:none;
    color: rgb(53, 4, 53);
    border-style: none none dashed none;
    border-width: 0.1em;
}
img.profile {
    width:15em;
    height:15em;
    border-radius: 50%;
}
img.social {
    width:5em;
    height:5em;
    border-radius: 50%;
}
h1.orange {
    color: orange;
}

footer {
    margin-top: 2em;
}
footer a{
    margin: 0 2%;
}
/* Make text in footer inline with links and don't allow spliting the text*/
/* This moves the text down below links when on mobile */
footer p {
    display: inline;
    white-space: nowrap ;
}

/* Change format on smaller screens */
@media only screen 
and (max-device-width: 1000px)
{
    #navbar {
       margin: 0em 5em 5em 5em;
       
    }
}
@media only screen 
and (max-device-width: 770px)
{
    #navbar {
        margin: auto;
        
     }
}
/* @media only screen 
and (max-device-width: 700px)
{
    img.social {
        width:10em;
        height:10em;
    }
} */