body{
    background-color: black;
    color: white;
    text-align: center;
}
h1.about{
    color: orange;
}
ul{
    list-style-type: none;
}
#navbar{
    background-color: orange;
    border-radius: 0.5em;
    margin: 0em 10em 5em 10em;
    /* width: 10em; */
    font-size: 1.5em;
}
#navbar ul{
    padding: 0.5em 0em;
}
#navbar li{
    display: inline;
    padding: 1.5em;
}
#navbar a{ 
    text-decoration:none;
    color: rgb(53, 4, 53);
    border-style: none none dashed none;
    border-width: 0.1em;
}
img{
    width:15em;
    height:15em;
    border-radius: 50%;
}
#social img{
    width:5em;
    height:5em;
    border-radius: 50%;
}


/* Add Mobile views */
@media only screen 
and (max-device-width: 500px)
{
    #navbar{
       margin: 0em 5em 5em 5em;
       
    }
}
