/*
Name: Nathan Woodburn 
Date: 23/08/2022
Email: comp1710@nathan.woodburn.id.au
*/

div.links {
    display: inline-block;
    text-align: left;
    margin: auto;
    font-size: x-large;
}
p.indent {
    margin-left: 4em;
}